.login {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg, #fff 20%, #4e4e4e 20%);

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.loginImage {
  width: 100%;
  margin: 0 -20em 0 -10em;
  z-index: 1;

  pointer-events: none;
}

.loginForm {
  width: 40%;
  margin: 4em;
}
