version: '3.7'

services:
  database:
    image: "golocal.azurecr.io/db_golocal:latest"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example
  backend:
    container_name: backend
    image: "golocal.azurecr.io/backend_golocal:latest"
    ports:
      - 8000:8000
    restart: always
  frontend:
    container_name: frontend
    image: "golocal.azurecr.io/frontend_golocal:latest"
    ports:
      - 80:80
    restart: always
