version: '3.7'

services:
  database:
    image: mariadb:latest
    restart: always
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: yes
      MYSQL_DATABASE: golocal
      MYSQL_USER: golocal
      MYSQL_PASSWORD: Ii5mie8kiequ9XahcohRai5eihioBooy
  backend:
    container_name: backend
    build: ./backend
    restart: always
    command: /usr/local/bin/exe
    depends_on:
      - database
  frontend:
    container_name: frontend
    build: ./frontend
    ports:
      - 80:80
    restart: always
