.loginForm {
	width: 100%;
	height: 60%;

	.cardContent {
		height: 80%;

		.form {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: start;
		}
	}
}

.actions {
	width: 100%;
	display: flex;
	justify-content: center;
}

.loginSignupToggleWrapper {
	display: flex;
	justify-content: center;
}

.sellToggleWrapper {
	display: flex;
	align-items: center;
}

.dimmed {
	opacity: 50%;
	cursor: pointer;
}
