.loginForm {
	width: 100%;
<<<<<<< HEAD
	height: 60%;

	.cardContent {
		height: 80%;

		.form {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
		}
	}
=======
>>>>>>> c5b749a... WIP: loginpage
}

.actions {
	width: 100%;
	display: flex;
	justify-content: center;
}

<<<<<<< HEAD
.loginSignupToggleWrapper {
	display: flex;
	justify-content: center;
}

.sellToggleWrapper {
	display: flex;
	align-items: center;
}

.dimmed {
	opacity: 50%;
	cursor: pointer;
=======
.form {
	display: flex;
	flex-direction: column;
>>>>>>> c5b749a... WIP: loginpage
}
