// TODO get color from theme
.hero {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background: linear-gradient(90deg, #fff 60%, #4c4c4c 60%);

	display: flex;
	align-items: center;

	& > * {
		padding: 0 8rem;
	}

	.heroImage {
	}

	div {
		div {
			display: flex;
			justify-content: flex-start;
			.localHeadingGreen {
				color: #00e676;
			}
		}

		p {
			margin: 0 0 10rem 2rem;
		}

		.getStartedButton {
			margin-left: 8rem;
		}
	}
}
