name: Build and deploy Docker app to Azure

on: push

# CONFIGURATION
# For help, go to https://github.com/Azure/Actions
#
# Set up the following secrets in your repository:
#   AZURE_CREDENTIALS, REGISTRY_USERNAME, REGISTRY_PASSWORD
# 2. Change these variables for your configuration:
env:
  AZURE_WEBAPP_NAME: golocal

jobs:
  build-and-deploy-to-dev:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Azure authentication
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS  }}
#    - name: Azure CLI script to provision a new Web App for Container
#      uses: azure/CLI@v0-beta
#      with:
#        azcliversion: latest
#        inlineScript: |
#          az webapp create --resource-group ${{ env.AZURE_RESOURCE_GROUP }} --plan ${{ env.AZURE_APP_PLAN }} --name ${{ env.AZURE_WEBAPP_NAME }}  -i nginx
    - name: ACR authentication
      uses: azure/docker-login@v1
      with:
        login-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
    - name: Docker Build & Push to ACR
      run: |
        docker build ./backend -f backend/Dockerfile -t ${{ secrets.REGISTRY_LOGIN_SERVER }}/backend_${{ env.AZURE_WEBAPP_NAME }}:${{ github.sha }}
        docker build ./frontend -f frontend/Dockerfile -t ${{ secrets.REGISTRY_LOGIN_SERVER }}/frontend_${{ env.AZURE_WEBAPP_NAME }}:${{ github.sha }}
        docker push ${{ secrets.REGISTRY_LOGIN_SERVER }}/backend_${{ env.AZURE_WEBAPP_NAME }}:${{ github.sha }}
        docker push ${{ secrets.REGISTRY_LOGIN_SERVER }}/frontend_${{ env.AZURE_WEBAPP_NAME }}:${{ github.sha }}
    - name: 'Deploy to Azure Web App for Container'
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        images: ${{ secrets.CONTAINER_REGISTRY }}/backend_${{ env.AZURE_WEBAPP_NAME }}:${{ github.sha }}
    - name: 'Deploy to Azure Web App for Container'
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        configuration-file: docker-compose-azure.yml
        images: ${{ secrets.CONTAINER_REGISTRY }}/frontend_${{ env.AZURE_WEBAPP_NAME }}:${{ github.sha }}

# For more samples to get started with GitHub Action workflows to deploy to Azure, refer to https://github.com/Azure/actions-workflow-samples
